* {
  font-family: "Archivo Black", sans-serif;
}

html,
body {
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
  border: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  width: 50rem;
  border: 1px;
  border-radius: 10px;
  height: 40rem;
  background-image: url("background-img.avif");
}

#form {
  position: relative;
  top: 2rem;
  left: 14rem;
  font-size: large;
}

.login {
  position: relative;
  left: 30px;
  color: white;
}

#rname,
#remail,
#rpass {
  background-color: gainsboro;
  margin-bottom: 20px;
  height: 30px;
  width: 20rem;
  border: none;
  border-radius: 3px;
  outline: none;
}

#rbtn {
  margin-top: 10px;
  width: 20rem;
  height: 30px;
  background-color: skyblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tag {
  position: relative;
  left: 80px;
  color: white;
}

#signup {
  width: 10rem;
  height: 30px;
  background-color: skyblue;
  border: none;
  border-radius: 4px;
  margin-left: 40px;
  cursor: pointer;
}

.messagediv {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
